<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698312702335-86n4s9trl51rnbju0plflibudnio383v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698312702335-86n4s9trl51rnbju0plflibudnio383v</string>
	<key>API_KEY</key>
	<string>AIzaSyCGaZ8LnDwEMpk4S_mHI6z8FMnUQE4vl-s</string>
	<key>GCM_SENDER_ID</key>
	<string>698312702335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>t.com.GoldenLeaf</string>
	<key>PROJECT_ID</key>
	<string>golden-leaf-5afdf</string>
	<key>STORAGE_BUCKET</key>
	<string>golden-leaf-5afdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698312702335:ios:8d3253ed930c24a7a9424a</string>
</dict>
</plist>